@import '../../../styles/variables.scss';

.a-button {
  $root: &;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  background-color: $color-primary;
  color: $color-white-primary;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $color-white-primary;
    color: $color-primary;
  }
}
