.p-home {
  $root: &;

  padding: 0 200px;

  &__sectionHeading {
    font-size: 24px;
  }

  &__insuranceListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    padding: 40px 0 100px;

    // width: calc(100vw - 200px);
    margin: 0 auto;
  }

  &__buyInsuranceButton {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
}
