@import '../../styles/variables.scss';

.p-home {
  $root: &;
  padding: 0 200px;

  &__sectionHeading {
    font-size: 20px;
  }

  &__insuranceListContainer {
    min-height: 360px;
    padding: 40px 0 100px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__buyInsuranceButton {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
}
