@import '../../../styles/variables.scss';

.o-footer {
  $root: &;

  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white-primary;

  &__copyright {
    font-size: 16px;
    opacity: 0.4;
  }
}
