@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

.p-buyInsurance {
  $root: &;

  padding: 50px 200px 100px;

  &__payementFormButtons {
    display: flex;
    gap: 50px;
  }

  &__payementCard {
    width: 400px;
    margin: 32px 0;
    padding: 32px;
    border-radius: 5px;
    background-color: $color-bg-primary;
    @include fade-in-up;

    h2 {
      margin-top: 0;
    }
    span {
      margin-left: 5px;
    }
  }
}
